{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<div class="p-4 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">
<div class="text-center">
<div class = "login">

    <h1>Login</h1>

    <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-auto">
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
        </table>
        <input class="btn login_btn" type="submit" value="Login">
    </form>
</div>
</div>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>

</div>
</div>

{% endblock content %}